  <ion-content>
  <div id="container">
      <ion-text><h1>Disney Quiz</h1></ion-text>
      <ion-text><h5>Your time was  {{quizService.getDuration()}} seconds</h5></ion-text>
      <ion-text><h5> {{quizService.getSpeed()}} </h5></ion-text>
      <ion-text><h5> Correctness: {{quizService.getCorrectness()}} %</h5></ion-text>
      <ion-button [routerLink]="['/answers']" color="danger" fill="outline">See correct answers</ion-button> 
      </div>
    </ion-content>
