<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Disney Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Disney Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text>
      <h5>Choose the correct answer.</h5></ion-text>
      <ion-text><h5>Question {{quizService.getIndexOfActiveQuestion()}}/{{quizService.getNumberOfQuestions()}}</h5></ion-text>
      <ion-text><h5>"{{quizService.getQuoteOfActiveQuestion()}}"</h5></ion-text>
      <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
            <ion-label>{{option}}</ion-label>
            <ion-radio *ngIf=!quizService.isAnswerCorrect() (click)="checkOption(i)">
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button [disabled]="!quizService.isAnswerCorrect()"
         color="danger" fill="outline" id="continue" (click)="continue()" tappable>Continue</ion-button>
      <ion-text class="feedback" *ngIf=quizService.isOptionSelected()><h6>{{feedback}}</h6></ion-text>
      <ion-text><h5>Correct answers {{quizService.getNumberOfCorrectAnswers()}} / {{quizService.getNumberOfQuestions()}}</h5></ion-text>
      <ion-button [routerLink]="['/results']" color="danger" fill="outline">See your results!</ion-button> 
    </div>
</ion-content>
