#container {
  text-align: center;
  color: #ffbaff;
  text-align: center;
  font-family: arial;
  --ion-text-color: #ffbaff;
  --ion-border-color: ;
  padding: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.feedback{
  text-transform: initial;
}

#container a {
  text-decoration: none;
}