  <ion-content>
  <div id="container">
      <ion-text><h1>Correct answers:</h1></ion-text>
      <ion-text><h5><ion-icon name="heart-outline"></ion-icon> Anna & Elsa are starring in Frozen.</h5></ion-text>
      <ion-text><h5><ion-icon name="heart-outline"></ion-icon> Star Wars is a Disney film.</h5></ion-text>
      <ion-text><h5><ion-icon name="heart-outline"></ion-icon> Pluto is a Disney pet dog.</h5></ion-text>
      <ion-text><h5><ion-icon name="heart-outline"></ion-icon> Mickey and Minnie Mouse are a Disney couple.</h5></ion-text>
      <ion-button [routerLink]="['/home']" color="danger" fill="outline">Start over</ion-button> 
      </div> 
</ion-content>