<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Disney Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Disney Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Welcome to play the Disney Quiz!</h1></ion-text>
    <ion-text><p>You have 4 questions and only one answer allowed. Good luck!</p></ion-text>
    <div>
    <img src="http://clipart-library.com/images/pi5rBXpdT.jpg">
  </div>
  <div>
      <ion-button [routerLink]="['/question']" color="danger" fill="outline">Start</ion-button>
    </div>
      </div>
</ion-content>
